# Flutter/Dart/Pub related
**/build/
**/.dart_tool/
**/.flutter-plugins
**/.flutter-plugins-dependencies
**/.packages
**/.pub-cache/
**/.pub/
**/coverage/

# IDE
.vscode/
.idea/
*.iml
*.ipr
*.iws

# Misc
.DS_Store
*.log
